/* resets */

body,
h1,
p {
  margin: 0;
}

body {
  padding: 20px;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 16px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

header a {
  text-decoration: none;
  color: #69696a;
  padding: 5px 5px 5px 0;
  display: inline-block;
}

.accent {
  background-color: black;
  color: white;
  width: 100%;
  text-align: center;
  border-radius: 20px;
}

.call-to-action {
  border-left: 3px solid black;
  padding-left: 10px;
}

.call-to-action-link {
  text-decoration: none;
  display: inline-block;
  padding: 5px;
  margin-top: 10px;
}

.fancy-spheres {
  display: none;
  position: relative;
}

.sphere1 {
  height: 225px;
  width: 225px;
  border-radius: 50%;
  background-color: rgba(247, 136, 167, 0.6);
  position: absolute;
  top: 100px;
  right: 100px;
}

.sphere2 {
  height: 175px;
  width: 175px;
  border-radius: 50%;
  background-color: rgba(247, 193, 162, 0.7);
  position: absolute;
  top: 225px;
  right: 10px;
}

.sphere3 {
  height: 125px;
  width: 125px;
  border-radius: 50%;
  background-color: rgba(207, 130, 213, 0.6);
  position: absolute;
  top: 125px;
  right: 10px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(247, 193, 162, 0.7);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

footer nav ul {
  display: flex;
}

footer a {
  padding: 5px 0 5px 5px;
  text-decoration: none;
  color: #69696a;
}

@media only screen and (min-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header ul {
    display: flex;
  }
  header a {
    padding: 5px 5px 5px 5px;
  }

  main {
    display: flex;
  }

  .about-us {
    margin-top: 100px;
    width: 50%;
  }

  .fancy-spheres {
    display: inline;
    width: 50%;
  }
}
